@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

.text-subtle {
  @apply text-gray-500 dark:text-gray-400 text-sm italic;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .page-break {
    break-before: page;
  }
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-flex;
  align-items: center;
}

.icon :global(svg) {
  width: 100%;
  height: 100%;
  display: block;
}
