---
import "@/styles/global.css";
import { Link2 } from "@lucide/astro";
import SummaryPoint from "@/components/generic/SummaryPoint.astro";
import MyBio from "@/components/MyBio.astro";
import MySummaryCard from "@/components/MySummaryCard.astro";
import MyTechLinks from "@/components/MyTechLinks.astro";
import MyTimeline from "@/components/MyTimeline.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<div class="flex flex-col items-center gap-10 pt-8">
		<MySummaryCard />

		<MyBio />
		<div class="page-break"></div>

		<h2 class="text-2xl font-light">Tech stack</h2>
		<MyTechLinks />
		<div class="page-break"></div>

		<h2 class="text-2xl font-light">Timeline</h2>
		<MyTimeline />

		<a
			href="https://github.com/simon-lumikello/cv"
			class="text-subtle mb-4 print:hidden"
		>
			<SummaryPoint text="This page on GitHub">
				<Link2 slot="icon" />
			</SummaryPoint>
		</a>
	</div>
</Layout>
