---
import "@/styles/global.css";
import MyTimeline from "@/components/MyTimeline.astro";
import MyCurrentTechLinks from "@/components/MyCurrentTechLinks.astro";
import Layout from "@/layouts/Layout.astro";
import MySummaryCard from "@/components/MySummaryCard.astro";
import MyBio from "@/components/MyBio.astro";
import SummaryPoint from "@/components/generic/SummaryPoint.astro";
import { Link2 } from "@lucide/astro";
---

<Layout>
	<div class="flex flex-col items-center gap-12 py-8">
		<MySummaryCard />

		<MyBio />

		<h2 class="text-2xl font-light">Tech stack</h2>

		<MyCurrentTechLinks />

		<MyTimeline />

		<a href="https://github.com" class="text-tertiary">
			<SummaryPoint text="This page on GitHub">
				<Link2 slot="icon" />
			</SummaryPoint>
		</a>
	</div>
</Layout>
