---
import type { Link } from "@/types/Link";

interface Props {
    items: Link[];
}

const { items } = Astro.props;
---

<div class="flex flex-wrap justify-center gap-2">
    {
        items.map(({ href, title }) => (
            <div class="badge badge-soft p-3">
                <a class="link link-hover" href={href}>
                    {title}
                </a>
            </div>
        ))
    }
</div>
