---
import { CircleArrowUp } from "@lucide/astro";
---

<ul class="timeline timeline-snap-icon timeline-compact timeline-vertical px-4">
    <slot />
    <li class="-mt-2">
        <div class="timeline-middle">
            <CircleArrowUp />
        </div>
    </li>
</ul>
